{% extends 'home.html' %}
{% load custom_filters %}
{% block content %}
<h2 class="mb-4">Select teacher</h2>

<form method="get" action="{% url 'teacher' %}" class="row g-3 mb-5">
    <div class="col-md-3">
        <label for="teacher_id" class="form-label">name</label>
        <select name="teacher_id" id="teacher_id" class="form-select">
            <option value="1">Aniket Kore</option>
            <option value="2">Pranit Bari</option>
            <option value="3">Sudhir Bagul</option>
            <option value="4">Pankaj Sonawane</option>
            <option value="5">Sudhir Iyer</option>
            <option value="6">Nilesh Ghawate</option>
            <!-- Add more as needed -->
        </select>
    </div>
    
    <div class="col-md-3 d-flex align-items-end">
        <button type="submit" class="btn btn-success w-100">Get Timetable</button>
    </div>
</form>
{% if time_slots %}
<table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
        <tr>
            <th>Time</th>
            {% for day in days %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <!-- <tbody>
        {% for slot in predefined_time_slots %}
        <tr>
            <td>{{ slot.0 }} - {{ slot.1 }}</td>
            {% for day in days %}
                <td>
                    {% if time_slots and time_slots|get_item:slot|get_item:day %}
                        {{ time_slots|get_item:slot|get_item:day|safe }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody> -->
    <tbody>
        {% for slot in predefined_time_slots %}
        <tr>
            <td>{{ slot.0 }} - {{ slot.1 }}</td>
            {% for day in days %}
                {% with cell=time_slots|get_item:slot|get_item:day %}
                    {% if cell.show %}
                        <td {% if cell.span > 1 %} rowspan="{{ cell.span }}" {% endif %}>
                            {{ cell.info|safe }}
                        </td>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

</table>

{% else %}
    <p>No timetable available yet.</p>
{% endif %}
{% endblock %}

