# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media and static files
/media
/staticfiles
/static

# Environment variables
.env

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Node modules (if applicable)
node_modules/

# MacOS files
.DS_Store